@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Andika New Basic', sans-serif;
    width: 80%;
    margin: 0 auto;
}
button{
    font-family: 'Andika New Basic', sans-serif;
}
/**********utilties**********/
a{
    text-decoration: none;
    color: #303a52;
}
p{
    font-size: 16px;
}
.btn{
    width: 100px;
    padding: 5px;
    margin: 10px 5px 5px 0;
    cursor: pointer;
}
/*************header**************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.hamburger{
    display: none;
    margin: auto 0;
}
.navbar-right{
    flex: 3;
}
.navbar-left{
    display: flex;
    flex: 1;
}
header nav{
    flex: 2;
}
header ul, div{
    display: flex;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
header ul li{
    margin: 0 20px;
}
header a{
    font-size: 20px;
}
header .user{
    flex: 1;
    justify-content: flex-end;
}
header .bx{
    font-size: 30px;
    cursor: pointer;
}
.logo{
    color: #fc5c9c;
    font-size: 30px;
}
/**************main section**************/
/****** text-side ******/
main{
    height: 600px;
}
section {
    display: flex;
    height: 600px;
    align-items: center;
}
.text-side{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.text-side h3{
    font-size: 40px;
    background: linear-gradient(to right, #9e579d, #574b90);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-side p{
    background: linear-gradient(to left, #9e579d, #574b90);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.add-to-cart{
    background-color: #fff;
    border: 2px solid#fc5c9c;
    color: #fc5c9c;
}
.buy-now{
    background-color: #fc5c9c;
    color: #fff;
    border: none;
}
.options{
    margin-top: 40px;
}
/*********** picture side****************/
.picture-side{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.img{
    width: 400px;
}
.picture-side img{
    width: 100%;
    height: auto;
}
.controller{
    display: flex;
    align-items: center;
}
.bxs-left-arrow, .bxs-right-arrow{
    font-size: 20px;
    color: #fff;
    color: #fc5c9c;
}
.active{
    color: #574b90;
}
.bxs-left-arrow:hover, .bxs-right-arrow:hover{
    color: #574b90;
    cursor: pointer;
}
.big-ellipse{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.6;
    height: 500px;
    z-index: -1;
}
.mid-ellipse{
    position: absolute;
    top: 200px;
    right: 350px;
    opacity: 0.6;
    z-index: -1;
}
.small-ellipse{
    position: absolute;
    top: 470px;
    right: 700px;
    opacity: 0.6;
    z-index: -1;
}
@media screen and (max-width: 900px){
    section {
        margin-top: 30px;
        flex-direction: column;
        text-align: center;
    }
    .options{
        display: flex;
        justify-content: center;
    }
    .text-side h3{
        font-size: 35px;
    }
    .img{
        width: 300px;
    }
    /**hamburger Nav**/
    header{
        flex-direction: column;
        justify-items: center;
        align-items: initial;
    }
    .navbar-left{
        display: flex;
        justify-content: space-between;
    }
    .navbar-right{
        display: flex; 
        align-items: center;
    }
    header ul{
        flex-direction: column;
    }
    .hamburger{
        display: flex;
        justify-content: flex-end;
    }
    .navs{
        display: none;
    }
}